body {
	margin: 5px;
	background-color: white;
}
#directory {
	/* display: flex; */
}
.tile {
	width: 100px;
	height: 205px;
	display: block;
	float: left;
	/* background-color: green; */
	margin: 5px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.folder-tile:hover {
	/* background-color: #a9abb3; */
	cursor: pointer;
}
.file-tile:hover {
	cursor: default;
}
.folder-hover {
	background-color: #a9abb3;
}
.folder-active {
	background-color: green;
}
.folder-icon {
	width: 100%;
	/* height: 110px; */
}
.tile > div {
	margin-top: 5px;
	overflow: hidden;
	font-size: 14px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.folder-icon {
	font-size: 100px;
}
.comicThumbnail {
	width: 100px;
	height: 150px;
}
